{% extends "form_app/foundation.html" %}
{% block titulo %} LOGIN KYOTO STORE {% endblock %}


{% block contenido %}
<div class='container'>
  <div class='row'>
    <div class='col-4'>
      <form action="" method="post">    
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input name="pwd" type="password" class="form-control" id="exampleInputPassword1" >
        </div>
        <div class="mb-3 form-check">
          <label for="exampleCheck1">Check me out</label>
          <input name="check" type="checkbox" class="form-check-input" id="exampleCheck1">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form> 
    </div>
  </div>
</div>
{% endblock %}