{% extends "core/foundation.html" %}


{% block titulo %} Login y Register {% endblock %}

{% block contenido %}
{% comment %} {% include 'core/menu.html' %} {% endcomment %}
<div class="container mt-5">
    <div class="row">
        
        <div class="col-6">
            <h3><i class="fa fa-user-plus" aria-hidden="true"></i> REGISTER</h3>
            <hr>
            <form action="" method="post" >
                {% csrf_token %}
                {{ formRegister.non_field_errors }}

                {% for field in formRegister %}
                <div class="mb-3 row">


                    <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-10">
                        {{ field }}
                    </div>

                    {% if field.errors %}

                    <div class="alert alert-danger mt-2" role="alert">
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>

                    {% endif %}

                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}

                <button class="btn btn-primary offset-2" type="submit"> <i class="fa fa-plus-circle" aria-hidden="true"></i> REGISTRARSE </button>

            </form>                
        </div> 
        
        <div class="col-6">
            <h3><i class="fa fa-sign-in" aria-hidden="true"></i> LOGIN </H3>
            <hr>
            <form action="{% url 'acceso:validar' %}" method="post" >
                {% csrf_token %}
                {{ formLogin.non_field_errors }}

                {% for field in formLogin %}
                <div class="mb-3 row">


                    <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-10">
                        {{ field }}
                    </div>

                    {% if field.errors %}

                    <div class="alert alert-danger mt-2" role="alert">
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>

                    {% endif %}

                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}

                <button class="btn btn-primary offset-2" type="submit"> <i class="fa fa-plus-circle" aria-hidden="true"></i><i class="fa fa-sign-in" aria-hidden="true"></i> ENTRAR </button>



                
            </form>
        </div>
    </div>
</div>














{% endblock %}