{% extends "app/foundation.html" %}


{% block titulo %} Formulario Añadir Usuario {% endblock %}

{% block contenido %}
{% comment %} {% include 'app/menu.html' %} {% endcomment %}

<div class="container mt-6">
    <h1><i class="fa fa-user-circle-o" aria-hidden="true"></i> Formulario Registro Usuario </h1>
    <hr>
    <div class="col-6">
        
        {% comment %} Forma de imprimir los mensajes sobre la pagina {% endcomment %}
        {% comment %} {% if errores %}
            <div class="alert alert-danger">
                <ol>
                    {% for item in errores %}
                        <li> {{item}} </li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %} {% endcomment %}

        <form action="" method="post" >
            {% csrf_token %}
            <div class="row g-3 align-items-center">
                <div class="col-3">
                    <label for="exampleextarea1" class="form-label">Nombre</label>
                </div>
                <div class="col-9">    
                    <input class="form-control" type="text" placeholder="Digite su nombre" aria-label="default input example" name="nombre" minlength="3" required>
                </div>
                <div class="col-3">
                    <label for="exampleextarea1" class="form-label">Apellido</label>
                </div>
                <div class="col-9">    
                    <input class="form-control" type="text" placeholder="Digite su apellido" aria-label="default input example" name="apellido" minlength="5" required>
                </div>
                <div class="col-3">
                    <label for="exampleextarea1" class="form-label">Username</label>
                </div>
                <div class="col-9">    
                    <input class="form-control" type="text" placeholder="Digite su username" aria-label="default input example" name="username">
                </div>
                <div class="col-3">                    
                    <label for="exampleextarea1" class="form-label">Genero</label>
                </div>
                <div class="col-9">   
                    <select class="form-select" aria-label="Default select example" name="generos">
                        <option selected>Selecciona tu genero</option>
                        {% for tipoValue in tiposGeneros %}
                            <option value={{tipoValue.0}}>{{tipoValue.1}}</option>
                        {% endfor %}
                    </select>             
                </div>
                <div class="col-3">
                    <label for="exampleextarea1" class="form-label">email</label>
                </div>
                <div class="col-9">    
                    <input class="form-control" type="email" placeholder="Digite su email" aria-label="default input example" name="email">
                </div>
                <div class="col-3">
                    <label for="exampleextarea1" class="form-label">Contraseña</label>
                </div>
                <div class="col-9">    
                    <input class="form-control" type="password" placeholder="Digite su contraseña" aria-label="default input example" name="pwd">
                </div>
                <div class="col-3">
                    <label for="exampleextarea1" class="form-label">Confirmar Contraseña</label>
                </div>
                <div class="col-9">    
                    <input class="form-control" type="password" placeholder="Digite su contraseña" aria-label="default input example" name="pwdr">
                </div>
                <div class="col-3">
                    <label for="exampleextarea1" class="form-label">Cumpleaños</label>
                </div>
                <div class="col-9">    
                    <input class="form-control" type="date" placeholder="AAAA-MM-DD" aria-label="default input example" name="cumpleanos">
                    <button type="submit" class="btn btn-primary mt-3"><i class="fa fa-plus-circle" aria-hidden="true"></i> Añadir Usuario</button>
                </div>
            </div>
        </form>
    </div>

</div>
{% endblock %}

