<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   <h1>CAMION</h1>
   <hr>
        <p>Camion: {{camion_info.nombre}}</p>
        <p>Tipo: {{camion_info.tipo}} - {{camion_info.get_tipo_display}}</p>
        <h3>Rutas</h3>
        <ul>
            {% for ruta in camion_info.rutas.all %}
                <li> {{ruta}} </li>
            {% endfor %}
            <ul>
    
    <h3>CHOFERES</h3>

    <ul>
        {% for chofer in camion_info.choferes.all %}
            <li> {{chofer}} </li>
        {% endfor %}
        <ul>        


</body>
</html>