<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   <h1>RUTAS</h1>
   <hr>
        {% for ruta in rutas_info %}
        <p>ID: {{ruta.id}}</p>
        <p>Camion: {{ruta.camion.nombre}}  </p> 
        <p>Origen: {{ruta.origen}}</p>
        <p>Destino: {{ruta.destino}}</p>
        <hr>
        {% endfor %}

        
</body>
</html>