* {
    /* border: 1px solid red; */
    margin: 0px;
    padding: 0px;
}

section{
    padding: 70px 0px;
    background-color: #E9ECEF;
}

.card  {
    display: inline-block;
    margin-left: 200px;
    margin-top:70px;
}

.card a {
    border: 1px solid black;
    background-color: gray;
    
}

.jumbotron {
    margin-left: 200px;
} 

.aside {
    margin-top: 70px;
}


