* {
    border: 1px solid red;
    padding: 0px;
    margin: 0px;
}

.container {
    width: 1800px;
    height: auto;
    display:inline-block;
    
}

img {
    width: 200px;
    height: 200px;
    display:inline-block;
}

