*{
    margin: 0px;
    padding: 0px;
    border: 1px solid red;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    
    
    #header{
     min-height: 150px;
     background-color: green;
     display: inline;
}


   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display:flex;
    flex-wrap: wrap;
   }
   #main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    display:flex;
    align-content: center;
    flex-wrap: wrap;
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;

   }
   #advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
   }