* {
    margin:0px;
    padding: 0px;
    /* border: 1px solid red; */
}

.container {
    width: 994px;
    height: 1205px;
    margin: 0px auto;
    border: 10px solid #181818;
    /* background-color: pink; */
    
} 

header {
    width: 994px;
    height: 116px;
    /* display: inline-block; */
    background-color: #1A1A1A;
}

header img {
    margin-top: 18px;
    display: inline-block;
}

header p{
    width: 222px;
    height: 37px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 24px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 0px;
    left: 591px;
}

nav {
    width: 994px;
    height: 408px;
    background: radial-gradient(#8f8c8c, #252525);
}

nav ul {
    height: 41px;
}

nav ul li {
    width:119px;
    height:23px; 
    display: inline-block;
    vertical-align: middle;
    padding-left:10px;
    margin: 16px 0px;
    text-align:center;
    list-style-type: none;
    margin-top:4px;
    border-color: rgb(73, 71, 71);
    border-width:2px;
    border-right-style: outset;
    /* box-shadow: 1px -1px 0 2px #444; */
    
}

nav ul li a {
    text-decoration: none;
    color:#918F90;
    font-weight:bold;
    display: inline-block;
}

.expand {
    width: 235px;
    height:30px;
}

.expand a {
    margin-top:5px;
    margin-left:-145px;
}

.whitetext {
    font-size: 9px;
    color:#afa7ab;
    margin-left:4px;
    font-weight: bolder;
    
}

nav img {
    width: 994px;
    height:auto;
    border-bottom: 5px #3B3B3B solid;
}

section {
    width: 994px;
    height: 300px;
    background: linear-gradient(#1A1A1A,#131313);
}

.infotop {
    width: 994px;
    height: 150px;
}

.infotext {
    width: 246px;
    height: 102px;
    margin-top: 27px; 
    margin-left: -3px;
    display: inline-block;
    vertical-align: top;
}

.infotext h1{
    color: #CC7B2C;
    display: inline-block;
    vertical-align: top;
}

.infotext p{
    width:188px;
    height:76px;
    color:rgb(221, 210, 210);
    display:inline-block;
    position: relative;
    top: -18px;
    left: 54px;
}
.boardandbuy {
    width: 994px;
    height: 148px;
    background-image: url(/img/fondo.jpg);
}

.boardandbuy h2 {
    width: 600px;
    color:White;
    display: inline-block;
    margin-top:25px;
    /* vertical-align: middle; */
}

.boardandbuy p {
    width: 600px;
    padding-top:20px;
    color:rgb(221, 210, 210);
    display: inline-block;
}

.boardandbuy a{
    margin-left: 210px;
    padding: 13px 29px;
    border: 1px groove rgb(107, 72, 8);
    border-radius: 10px;
    vertical-align:top;
    color: White;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 0 1px 3px rgba(0,0,0,.2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f90),to(#e76a00));
    background-image: linear-gradient(#f90 10%,#e76a00 100%);
    /* background: radial-gradient(#F08B40, #F29957);  */
}

footer {
    width: 994px;
    height: 381px;
    background: linear-gradient(#1A1A1A,#131313);
}

.portfolio {
    width: 994px;
    height: 100px;
}

.portfolio h3 {
    width:200px;
    color: #E5D9C3;
    font-size:22px;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;

}

.portfolio a {
    width:150px;
    text-decoration: none;
    color: #CC7B2C;
    display: inline-block;
    margin-left:604px;
    font-style: italic;
}

.portfolioproducts {
    width: 219px;
    display:inline-block;
    margin-left:15px;
}

.portfolioproducts img {
    border: 5px solid rgb(92, 89, 89);
    text-align: center;
}

.portfolioproducts h1 {
    color: #CC7B2C;
    font-size: 20px;
    text-align: left;
}

.portfolioproducts p{
    color:rgb(221, 210, 210);
}

.end h5{
    width: 100px;
    color: gray;
    margin-left:900px;
}

















